/* name styles include styles for elements with class names and id's */
/* link this below unamed css so it recognises custom colors */
:root{
    --color1: #4A90E2; 
    --color2: #F7F7F7;
    --color3: #ecfaf4;
    --color4: #9B9B9B;
    --color5: #646464;
    --color6: #D0021B;
    /* colours for specific types of html elements */
    --links: #141817; 

    /* --trafficLight colors */
    --low-priority: #4A4A4A;
    --med-priority: #F5A623;
    --high-priority: #7ED321;
    /* temporary colours for development */
    --trubleshootColor: red;
}
#userLogin, #userSignUp{
    width:40%;
    min-width: 400px;
    min-height: 400px;
  }
  .loginOrSignup h2, .loginOrSignup p{
    width: 100%;
    text-align: center;
    margin: auto;
  }
.ticket-container{
    margin: auto;
    width: 95%;
}
.ticket{
    background-color: var(--color2);
    border: dotted 3px var(--color6);
    height: 1in;
    margin: 0.2in 0;
    box-shadow: 0px 2px 5px 0px var(--color4);
}
.title-container{
  background-color: var(--color4);
  box-shadow: 0px 3px 5px 0px var(--color5);
  position: sticky;
  height: .66in;
  margin-top: -22px;
  top: 0px;
  text-align: center;
}
.title-container h1{
  padding-top: 10px; 
}
.buttons-container{
  width: 100%;
  padding: .3in 0 .5in;
  position: sticky;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  background-color: var(--color4);
  box-shadow: 0px -3px 5px 0px var(--color5);
}
.start-action{
  background-color: var(--buttonStart);
}
.complete-action{
  background-color: var(--buttonFinish);
}
