/* unnamed styles are for general elements, no class names or specific id styles */
:root{
    --color1: #BD10E0; 
    --color2: #F7F7F7; 
    --color3: #D0021B;
    /* colours for specific types of html elements */
    --links: #50E3C2; 

    /* --trafficLight colors */
    --low-priority: #4A4A4A;
    --med-priority: #F5A623;
    --high-priority: #7ED321;
    /* temporary colours for development */
    --trubleshootColor: red;
}
body{
    background-color: var(--color2);
}