/* unnamed styles are for general elements, no class names or specific id styles */
:root {
    --color1: #AAFF00;
    --color2: #dadada;
    --color3: #f8f8f8;
    --color4: #9B9B9B;
    --color5: #646464;
    --color6: #D0021B;


    /* colours for specific types of html elements */
    --links: #141817;
    --buttonStart: #4A90E2;
    --buttonFinish: #a86a3d;
    /* --trafficLight colors */
    --low-priority: #4A4A4A;
    --med-priority: #F5A623;
    --high-priority: #7ED321;
    /* temporary colours for development */
    --trubleshootColor: red;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, 'Arial Narrow', Arial, sans-serif;
}

html {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

html::-webkit-scrollbar {
    display: none;
}

body {
    background-color: var(--color3);
    margin: 0;
    padding: 0;

}

input,
label {
    margin: 1em auto;
    min-width: 90%;
    padding: .5em;
}

input[type=submit] {
    margin-top: 2em;
    color: var(--color2);
    background-color: var(--color6);
    border: none;
    border-radius: 8px;
    padding: .7em;
}

table,
form {
    margin: 20px auto;
    padding: 20px;
    border: solid 2px white;
    background-color: var(--color2);
    box-shadow: 0px 10px 20px var(--color1);
    border-spacing: 0;

}

button {
    border-radius: 20px;
    width: 48%;
    height: .66in;
    font-size: 16pt;
    box-shadow: 0px 1px 20px var(--color5);
    border: none;
}